.container{
    margin: 4rem 0;
    max-width: 600px;
}

/* day choice */
.sections{
    color: rgb(var(--clr-black));

    width: max-content;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    
    cursor: pointer;
}

.sections >*{
    border: 1px solid rgb(var(--clr-black), .15);

    font-size: .9rem;
    font-weight: 500;
    padding: .45rem 1.5rem;
}

.sections >*:hover{
    background: rgb(var(--clr-grey));
}