.container{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.wrapper{
    background: rgb(var(--clr-white));
    
    width: 46rem;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 1.8rem;
    font-weight: 600;

    margin-top: .5rem;
    padding: 1rem  ;

}

.time{
    font-weight: 300;
    padding-inline:  2rem;
    margin-bottom: 1.7rem;
}

.text{
    margin-top: 2rem;
    font-size: 1.1rem;
    line-height: 2;
    padding: 1rem 1.5rem;
    white-space: pre-line;
}

.text >  p {
    padding: 1rem 0 ;
}

.left{
    background: rgb(var(--clr-white));
    width: 25rem;
    padding: 2rem 1.5rem;
}

.section{
    margin-bottom: 3rem;
}
.section > *{
    
    margin-bottom: 1rem;
}

.lefttitle{ 
    font-size: 1.05rem;
    margin-bottom: 1.5rem;

    display: flex;
    gap: .7rem;
    justify-content: center;
    align-items: center;
}
.line{
    width: 97px;
    height: 5px;
    background: rgb(var(--clr-black));
}